:root {
    --fontepacifico: 'Pacifico', cursive;
    --fonteroboto: 'Roboto', sans-serif;
    --branco: #FFFFFF;
    --vermelho: #8D0606;
    --cinza: #8C8888;
    --preto: #000000;
    --background: #E5E5E5;
    --rodape: #C4C4C4;

}

.body {
    background: var(--branco);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

}

.cabecalho__lista {
    display: flex;



}

.cabecalho__lista__item {
    margin-left: 1.5rem;
    font-family: var(--fonteroboto);
    color: var(--cinza);
    font-size: 20px;
    transition: 0.5s;


}

.cabecalho__lista__item:hover {
    color: var(--preto);
    transition: 0.5s;
    cursor: pointer;

}

.principal {
    background: var(--branco);
    position: relative;
}

.container {
    width: 100%;
    margin: 0;
}

.banner {

    width: 100%;

}

.bannertitulo {
    position: absolute;
    color: var(--branco);
    font-family: var(--fontepacifico);
    font-size: 5.0625rem;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.receitas1 {
    display: flex;
    flex-direction: column;

}

.receitascaixa {
    top: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.receita__titulo1 {
    font-family: var(--fontepacifico);
    font-size: 51px;
    color: var(--vermelho);
    font-weight: 400;
    padding-top: 1rem;

}

.receita__texto1 {
    font-family: var(--fonteroboto);
    color: var(--cinza);
    font-size: 28px;
    font-weight: 300;
    margin-top: 2rem;
    padding-bottom: 6rem;
}


.receitas {
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;

}

.receita {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(30% - 2rem);

}

.receita__imagem {
    height: 200px;
}

.receita__conteudo {
    padding: 1rem;
}

.receita__titulo {
    font-size: 23px;
    font-family: var(--fonteroboto);
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.receita__descricao {
    font-size: 19px;
    font-family: var(--fonteroboto);
    margin-bottom: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}


.receita__botao {
    color: var(--branco);
    background-color: var(--vermelho);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    transition: 0.25s
}

.receita__botao:hover {
    background-color: red;
    cursor: pointer;
}

.quemsomos__caixa {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quemsomos__titulo {
    font-family: var(--fontepacifico);
    color: var(--vermelho);
    font-size: 53px;
}

.quemsomos__subtitulo {
    font-family: var(--fonteroboto);
    font-size: 28px;
    font-weight: 300;
    color: var(--cinza);
    margin-top: 2rem;
}




.quemsomoscard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quemsomostitulo {
    font-family: var(--fontepacifico);
    color: var(--vermelho);
    font-size: 32px;
    margin-top: 1rem;
}

.quemsomos__imagem {
    border-radius: 50%;

}

.quemsomostexto {
    font-family: var(--fonteroboto);
    font-size: 23px;
    color: var(--cinza);
    margin-top: 1rem;

}



.quemsomoscaixa {
    display: flex;
    padding: 5rem;
    justify-content: space-around;

}

.rodape {
    background-color: var(--rodape);
    color: var(--branco);
    padding: 1.5rem 5rem;
    text-align: right;
}

.rodape__texto {
    font-family: var(--fonteroboto);
    font-weight: 400;
    font-size: 28px;
}



@media screen and (min-width: 0) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    }

    .logo {
        display: none;
    }

    .bannertitulo {
        font-size: 3rem;

    }

    .receita__titulo1 {
        font-size: 35px;
    }

    .receita__texto1 {
        font-size: 18px;
    }
    
    .receita {
        margin-right: 1rem;
        width: 100%;
    }
    .receitas {
        padding: 5rem 0 0 1rem;
    }
    
    .quemsomoscaixa {
        flex-direction: column;
        align-items: center;
        
    }
    .quemsomoscard {
        margin-bottom: 3rem;
    }

    .rodape__texto {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }

    .logo {
        display: block;
    }

    .bannertitulo {
        font-size: 5.0625rem;
    }

    .receita__titulo1 {
        font-size: 51px;
    }

    .receita__texto1 {
        font-size: 28px;
    }

    .receita {
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem);
    }

    .receitas {
        padding: 5rem 0 0 2.5rem;
    }

    .quemsomoscaixa {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        
    }

    .rodape__texto {
        text-align: center;
    }
   

}

@media screen and (min-width: 992px) {
    .receitas {
        padding: 5rem 0 0 5rem;
    }
    .quemsomoscaixa {
       display: flex;
       flex-direction: row;
        align-items: center;
        
    }

    .rodape__texto {
        text-align: right
    }
    
}